<div class="row bs-wizard col-sm-12" style="border-bottom:0;padding-top: 4em;">
                
        <div class="col-sm-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Primeiro Passo</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Escrevendo a notícia</div>
        </div>
        <div class="col-sm-4 bs-wizard-step <%=estado.passo2%>"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Segundo Passo</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Adicionando Informações</div>
        </div>
        <div class="col-sm-4 bs-wizard-step <%=estado.passo3%>"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Terceiro Passo</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Finalizando</div>
          </div>
    </div>

    <!--Link de referência-->
    <!-- https://bootsnipp.com/snippets/featured/form-process-steps-->